@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .red-yellow-gradient {
    background: linear-gradient(45deg, #ca4573 0%, #ee5342 49.48%, #efbb58 100%);
  }
  .red-yellow-gradient-text {
    background: linear-gradient(45deg, #ca4573 0%, #ee5342 49.48%, #efbb58 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .block-white-4 {
    @apply flex-row w-full bg-white rounded-lg p-4;
  }
  .block-white-8 {
    @apply flex-row w-full bg-white rounded-lg p-8;
  }
  .h-144 {
    height: 144px;
  }
  .h-370 {
    height: 370px;
  }
  .line-height-105percent {
    line-height: 105%;
  }
}

@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full text-gray-700
    cursor-pointer hover:bg-gray-300;
  }

  .inputIcon {
    @apply flex items-center space-x-1 hover:bg-gray-100
    flex-grow justify-center rounded-xl cursor-pointer;
  }

  .image-btn {
    @apply w-full mb-2.5 px-11 py-2 rounded-lg flex items-center font-bold
  }

  .basic-btn {
    @apply font-bold text-sm rounded-lg py-3 px-4 text-center w-full;
  }
}

@import "components/buttons";
@import "components/alerts";
@import "components/sidebar";
@import "components/form";
@import "components/sidebar-header";
@import "components/page-titles";
@import "components/tables";
@import "components/tabs";
@import "components/notices";
@import "components/icons";
@import "components/pagination";
