extends ../layouts/layout

block layout-content
    div.View.WelcomeView
        h1.Banner Amadeo-crm
        div.Message
            div.Title
                h3 Making the Best
                h1 Sell/Buy application
            span.Details Access the Amadeo-crm
        div.NavButtons
            a(href="/user")
                div.NavButton Just dive in!
