.gradient-btn {
  @apply basic-btn red-yellow-gradient font-bold text-sm text-white rounded-lg px-4 py-2.5
}

.disabled-btn {
  @apply basic-btn border border-gray-300 text-gray-300
}

.btn-big {
  @apply red-yellow-gradient text-white text-2xl font-bold px-7 py-3 rounded-lg;
}
.view-all {
  @apply red-yellow-gradient-text text-xs font-bold relative;

  &:after {
    content: "";
    background-image: url("../../public/images/arrow-right.svg");
    width: 25px;
    height: 25px;
    @apply absolute -top-1;
  }
}
.cancel {
  @apply bg-gray-180 font-bold text-sm text-white rounded-lg px-4 py-2.5;
}

.action {
  @apply border rounded-lg border-gray-180 p-2.5 font-bold uppercase relative text-[10px];

  span {
    @apply relative;
  }
}
.action-dublicate {
  span {
    @apply pl-5;

    &:before {
      content: " ";
      display: inline-block;
      background: url("../../public/images/icon-replace-inventory-values.svg");
      background-repeat: no-repeat;
      background-position: left center;
      position: absolute;
      width: 14px;
      height: 14px;
      left:0;
      top: -1px
    }
  }
}

.btn-export {
  @apply rounded-lg text-white text-base font-bold bg-green-250 p-2.5;

  span {
    @apply relative pl-7;

    &:before {
      content: " ";
      display: inline-block;
      background: url("../../public/images/export-csv.svg");
      width: 18px;
      height: 20px;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
    }
  }
}
