.form-control {
  @apply bg-white w-full rounded-lg p-2.5 text-sm text-gray-350
    font-medium border-gray-180 border placeholder-gray-180;

  &:active,
  &:focus,
  &:focus-visible {
    @apply bg-white w-full rounded-lg p-2.5 text-sm text-gray-350
      font-medium border-gray-180 border;
  }
}
.form-control-icon {
  @apply bg-white w-full rounded-lg p-2.5 pl-9 text-sm text-gray-350
    font-medium border-gray-180 border placeholder-gray-180;

  &:active,
  &:focus,
  &:focus-visible {
    @apply bg-white w-full rounded-lg p-2.5 pl-9 text-sm text-gray-350 font-medium border-gray-180 border;
  }
}

.input-close {
  background-image: url("../../public/images/close.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  @apply absolute top-2.5 right-2;
}

.radio {
  @apply text-white w-5 h-5 border-0;
  background: url("../../public/images/option.svg");
}

.radio:checked {
  background: url("../../public/images/option-applied.svg");
}

.radio:checked + span {
  @apply text-blue-350;
}

.f-icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  @apply absolute left-2 top-3;
}

.error-el {
  @apply flex items-center font-medium tracking-wide text-red-700 text-xs mt-1 ml-1;
}
