.form-control {
  @apply bg-white w-full rounded-lg p-2.5 text-sm text-gray-350
    font-medium border-gray-180 border placeholder-gray-180;

  &:active, &:focus, &:focus-visible {
    @apply bg-white w-full rounded-lg p-2.5 text-sm text-gray-350
      font-medium border-gray-180 border;
  }
}
.form-control-icon {
  @apply bg-white w-full rounded-lg p-2.5 pl-9 text-sm text-gray-350
    font-medium border-gray-180 border placeholder-gray-180;

  &:active, &:focus, &:focus-visible {
    @apply bg-white w-full rounded-lg p-2.5 pl-9 text-sm text-gray-350 font-medium border-gray-180 border;
  }
}
.control-label {
  @apply text-blue-350 text-xs font-bold;
}

.input-close {
  background-image: url("../../public/images/close.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  @apply absolute top-2.5 right-2;
}

.f-icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  @apply absolute left-2 top-3;
}

.error-el {
  @apply flex items-center font-medium tracking-wide red-yellow-gradient-text text-xs mt-1 ml-1
}

.toggle-bg:after {
  content: '';
  @apply absolute top-0.5 left-0.5 bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
}

input:checked + .toggle-bg:after {
  transform: translateX(100%);
  @apply border-white;
}

input:checked + .toggle-bg {
  @apply bg-green-250 border-green-250;
}


//*************************
// Multiselect Styles
//*************************
.rmsc .dropdown-container {
  border: 1px solid #CFD8DC !important;
  border-radius: 8px !important;
}
.multi-select {
  .dropdown-container {
    @apply bg-white p-0.5 w-full rounded-lg text-sm text-gray-350
    font-medium border-gray-180 border;
  }

  input[type="checkbox"] {
    appearance: none;
    margin: 0;
    font: inherit;
    color: #99ABCE;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #99ABCE;
    border-radius: 4px;
    transform: translateY(-0.075em);
  }

  .item-renderer {
    position: relative;
    span {
      position: absolute;
      @apply text-gray-350 text-sm;
      display: block;
      left: 24px;
      top: -4px;
    }
  }

  .dropdown-heading-value {
    .gray {
      @apply text-gray-180;
    }
  }
}

//*************************
// Dropzone Styles
//*************************
.drop-zone-container {
  @apply w-full;

  .dropzone {
    @apply border border-gray-180 border-dashed p-10 rounded-lg text-xs text-gray-350 flex
      justify-center items-center max-h-[200px] h-[200px] p-2.5 cursor-pointer;

    p {
      @apply mt-10 block max-w-[200px] text-center relative;

      &:before {
        content: " ";
        background-image: url("../../public/images/dropzone-icon.svg");
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -40px;
        left: calc(50% - 20px);
      }
    }
  }

  aside {
    @apply mt-4;

    h4 {
      @apply text-blue-350 text-xs font-bold;
    }

    ul {
      li {
        font-size: 10px;
        @apply border border-gray-180 border-dashed relative font-bold text-gray-350
          pr-2.5 pl-6  py-1.5 rounded-lg mt-1.5 relative inline-block ml-2;

        i.close {
          background-image: url("../../public/images/close.svg");
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          @apply absolute top-0.5 right-0.5 cursor-pointer;
        }
        i.file {
          //background-image: url("../../public/images/drop-file.svg");
          //background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          @apply absolute top-1.5 left-1.5;
        }

        em {
          @apply font-normal text-gray-450 not-italic block;
        }
        span {
          text-overflow: ellipsis;
          @apply max-w-[85px] overflow-hidden block whitespace-nowrap;
        }
      }
    }
  }
}

.form-subtitle {
  @apply w-full text-gray-450 text-sm mb-3 font-bold;
}
