.f-email {
  background-image: url("../../public/images/input-email.svg");
}
.f-fname {
  background-image: url("../../public/images/input-name.svg");
}
.f-lname {
  background-image: url("../../public/images/input-f-name.svg");
}
.f-company {
  background-image: url("../../public/images/input-company.svg");
}
.f-company-id {
  background-image: url("../../public/images/input-company-id.svg");
}
.f-vat {
  background-image: url("../../public/images/input-vat.svg");
}
.f-phone {
  background-image: url("../../public/images/input-phone.svg");
}
.f-location {
  background-image: url("../../public/images/input-location.svg");
}
.f-key {
  background-image: url("../../public/images/input-key.svg");
}
.f-eye {
  background-image: url("../../public/images/input-eye.svg");
}

.f-password {
  background-image: url("../../public/images/input-password.svg");
}
