.f-email {
  background-image: url("../../public/images/input-email.svg");
}
.f-fname {
  background-image: url("../../public/images/input-name.svg");
}
.f-lname {
  background-image: url("../../public/images/input-f-name.svg");
}
.f-password {
  background-image: url("../../public/images/input-password.svg");
}