.pagination {
  @apply text-xs font-bold flex items-center;

  .page-item,
  .page-item-next,
  .page-item-prev {
    @apply px-3 py-1.5 font-bold text-gray-350;

    .page-link-prev,
    .page-link-next {
      background-repeat: no-repeat;
      width: 6px;
      height: 10px;
      @apply block;
    }
  }

  .page-item.active {
    @apply text-white bg-gray-350 rounded-lg py-2 px-4;
  }

  .page-item.disabled {
    a {
      @apply cursor-not-allowed;
    }
  }

  .page-item-next {
    @apply px-3 py-2.5 rounded-r-lg relative;
    background: url("../../public/images/next-arrow.svg") no-repeat center;

    .page-link-next {
      @apply absolute w-full h-full top-0 left-0;
    }
  }
  .page-item-next.disabled {
    background: url("../../public/images/next-arrow-d.svg") no-repeat center;

    .page-link-prev {
      @apply absolute w-full h-full top-0 left-0;
    }
  }

  .page-item-prev {
    @apply px-3 py-2.5 rounded-r-lg relative;
    background: url("../../public/images/prev-arrow.svg") no-repeat center;

    .page-link-next {
      @apply absolute w-full h-full top-0 left-0;
    }
  }
  
  .page-item-prev.disabled {
    background: url("../../public/images/prev-arrow-d.svg") no-repeat center;

    .page-link-prev {
      @apply absolute w-full h-full top-0 left-0;
    }
  }
}

.pagination-total {
  @apply text-xs font-bold flex text-gray-180  items-center;
}
