.pagination {
  @apply text-xs font-bold flex text-gray-180 items-center;

  .page-item, .page-item-next, .page-item-prev {
    @apply mx-0.5;

    .page-link-prev, .page-link-next {
      background-repeat: no-repeat;
      width: 6px;
      height: 10px;
      @apply block;
    }

    .page-link {
      @apply block px-3 py-2;
    }
  }

  .page-item.active {
    @apply text-white bg-gray-350 rounded-lg;
  }

  .page-item.disabled {
    a {
      @apply cursor-not-allowed;
    }
  }

  .page-item-next {
    background-color: #F8F8F8;
    @apply rounded-r-lg;

    .page-link-next {
      background-image: url("../../public/images/next-arrow.svg");
      background-position: center;
      @apply p-4;
    }
  }
  .page-item-next.disabled {
    @apply bg-white;

    .page-link-next {
      background-image: url("../../public/images/next-arrow-d.svg");
    }
  }

  .page-item-prev {
    background-color: #F8F8F8;
    @apply rounded-l-lg;

    .page-link-prev {
      background-image: url("../../public/images/prev-arrow.svg");
      background-position: center;
      @apply p-4;
    }
  }

  .page-item-prev.disabled {
    @apply bg-white;

    .page-link-prev {
      background-image: url("../../public/images/prev-arrow-d.svg");
    }
  }
}

.pagination-total {
  @apply text-xs font-bold flex text-gray-180  items-center;
}
