####################################################################
####################################################################
####################################################################
#################### LOCALHOST specific
####################################################################
####################################################################
####################################################################

############################ APPLICATION DOMAIN
############################
API_URL                     ='http://localhost:4000'
NODE_ENV                    ='development'

############################ DATABASE MAIN -- POSTGRESQL
############################
DATABASE_MAIN_HOST          =''
DATABASE_MAIN_PORT          =''
DATABASE_MAIN_BASE          =''
DATABASE_MAIN_USER          =''
DATABASE_MAIN_PASS          =''



############################ APPLICATION VERSION, MODE & PORT
############################
APPLICATION_VERSION         ='0.0.0.100'
APPLICATION_MODE            ='production'
APPLICATION_PORT            ='4000'


############################ LOGIN TOKEN SETTINGS
############################
LOGIN_TOKEN_SECRET          ='c0P1JUlc-aKiH4qun-Cvapfn60-F7cG9NUM-knCw0x9e-6PWxPEjf-7mtEJZzC-q0mxxn0D'
LOGIN_TOKEN_SECRET_REFRESH  ='JW9Je2hs-4TjeZRo9-4ZDg7KKd-UTd1YgOc-Q3UoAK9v-7kHtvyIF-Po8709GH-02Okhy4p'
# 14 days  in seconds
LOGIN_TOKEN_LIFE            =1209600
# 14 days  in seconds
LOGIN_TOKEN_LIFE_REFRESH    =1209600


############################ PASSWORD TOKEN SETTINGS
############################
# 24 hours in seconds
# PASSWORD_RESET_TOKEN_LIFE   =86400

